.colors{
  height:5vh;
  margin: 3px;
}

#black{
  background-color:black;
}

#red{
  background-color:red;
}

#blue{
  background-color:blue;
}
#green{
  background-color:green;
}
#yellow{
  background-color:yellow;
}
#brown{
  background-color:brown;
}

#word{
  color: red;
  font-size: 3em;
}
